iframe {
  border: none;
}

.site-title {
  font-size: 14px !important;
}

pre {
  background: #f5f6fa; /* 代码块背景色 */
}

.hljs {
  color: #000000; /* 普通文本 */
  line-height: 1.5;
}

span.hljs-meta, span.hljs-variable {
  color: #6897bb; /* 元数据和变量 */
}

span.hljs-keyword {
  color: #cc7832; /* 关键字 */
}

span.hljs-title.class_ {
  color: #a9b7c6; /* 类名 */
}

span.hljs-title {
  color: #ffc66d; /* 函数名 */
}

span.hljs-symbol,
span.hljs-file,
span.hljs-git-rev,
span.hljs-string {
  color: #6a8759; /* 字符串 */
}

span.hljs-number {
  color: #6897bb; /* 数字 */
}

span.hljs-url {
  color: #7253ed; /* URL */
}

span.hljs-command {
  color: #c00; /* URL */
}

span.hljs-property, span.hljs-attr, span.hljs-params .hljs-title.class_ {
  color: #a9b7c6; /* 属性、属性名、参数名 */
}

span.hljs-built_in, span.hljs-literal, span.hljs-params {
  color: #a9b7c6; /* 内置函数、文字、参数 */
}

span.hljs-hex_number {
  color: #6897bb; /* 十六进制数字 */
}

span.hljs-comment {
  color: #808080; /* 注释 */
}

code.hljs.language-undefined {
  color: #000000; /* 未定义语言代码 */
}
